<br/>
<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="https://media-exp1.licdn.com/dms/image/C560BAQEI91T-1GjKOA/company-logo_200_200/0/1595962370644?e=2147483647&v=beta&t=mGJ7me3RCsujK3Uk0nCRGK6pBea0-laA59YncjtlH4Q" class="img-thumbnail" alt="Imagen de Northwind">
        </div>
        <div class="col-8">
            <h1><b>Northwind Gestion</b></h1>
            <h4>Gestion de Clientes, Productos y Gestion</h4>
        </div>
    </div>

</div>