@model Alumno

<div class="row">
    <div class="col">
        <h1> Aplicacion de gestion</h1>
        <p>Titulo: @ViewData["Title"]</p>
        <p>Alumno: @Model.Nombre @Model.Apellidos @Model.Edad</p>
    </div>
</div>